h1 {
    color: blue;
}

.navbar-inverse {
    margin: 0 auto;
}

.navbar-inverse .container-fluid {
    width: 800px;
    margin: 0 auto;
}

.navbar-inner {
    min-height: 0px;
}

#body-calendar {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
