amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
Cython==0.24.1
Django==1.10.6
djangorestframework==3.6.2
Kivy==1.9.1
Kivy-Garden==0.1.4
kombu==4.0.2
pygame==1.9.2b8
pytz==2016.10
requests==2.11.1
vine==1.1.3
